:root {
    --header-height: 90px;
    --header-padding: 30px;
}

.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background: #EEE;
  padding-left: var(--header-padding);
  padding-right: var(--header-padding);
}

#title {
    max-width: 100%;
    width: 300px;
    margin: 0;
}

.menu {
    display: table;
    float: left;
    margin: 0;
    width: 100px;
    height: 10px;
}

.li {
    float: left;
}

.content {
  margin-top: var(--header-height);
  margin-left: 30px;
  margin-right: 30px;
}
