@import url('https://fonts.googleapis.com/css?family=Barlow:200,300,300i,400,500,600,700,700i,800,900');

:root {
    --header-height: 90px;
    --main-padding: 30px;
    --footer-color: #EEEEEE;
    --main-font: 'Barlow';
}

.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background: #EEE;
  padding-left: var(--main-padding);
  padding-right: var(--main-padding);
}

#title {
    max-width: 50%;
    overflow-wrap: break-word;
    width: 300px;
    margin: 0;
    display: inline;
		float: left;
}

#title h1 {
  max-width: 100%;
	width: 300px;
	display: inline-block;
  font-family: var(--main-font);
  font-weight: 400;
  color: #505050;
}

#header-menu {
    display: inline;
    float: left;
    vertical-align: center;
    /*margin: 0;
    width: 300px;
    height: 10px;*/
}

#header-menu ul {
  list-style: none;
}

#header-menu ul li {
    display: inline-block;
    padding: 15px 10px 0px 10px;
}

.content {
  margin-top:  var(--header-height);
  padding: 10px var(--main-padding) 10px var(--main-padding);
}

a {
  font-family: var(--main-font);
  font-weight: 300;
  font-size: 1em;
  text-decoration: none;
}

p {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 1.2em;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

footer {
  background-color: var(--footer-color);
  width: 100%;
  bottom: 0;
  padding: 5px var(--main-padding) 5px var(--main-padding);
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
    display: inline-block;
    padding: 0px;
}
